body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows:  200px 1fr 200px;
    grid-template-columns: 80% 19%;
    grid-gap: 10px;
    margin: 0;
   /* overflow-x: hidden;*/
}
header, footer, main, aside {
    padding: 20px;
    background: cyan;
}
#header {
    grid-area: header;
}
#main {
    grid-area: main;
}
#aside {
    grid-area: aside;
}
#footer {
    grid-area: footer;
}
form{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}
.form{
    width: 700px;
}
label{
    grid-column: 1 / 2;
}
input, button{
    grid-column: 1 / 3;
    padding: 10px 15px;
}
figure{
    margin:0;
}
.gal {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: repeat(4, minmax(200px, 200px));
    grid-gap: 10px;
    margin-top: 10px;
}
.gal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}
.gal2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(2,  200px);
    grid-gap: 10px;
    margin-top: 10px;
}
.gal3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2,  200px);
    grid-gap: 10px;
    margin-top: 10px;
}
.gal2 img, .gal3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}
.gal2 figure, .gal3 figure{
    margin:0;
    border: 1px solid green;
}
.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.item2{
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}
.item3{
    grid-column: 1 / 5;
    grid-row: 3 / 5;
}
.item4{
    grid-column: 5 / 6;
    grid-row: 1 / 5;
}
.item{
    justify-items: end;
    place-content: flex-end center; 
}
